In [1]:
import pandas as pd

In [16]:
df = pd.read_excel('EMP_SAL.xls')
df

     EID   DEPT               DESI    SALARY
0   1001    OPS           Director  480000.0
1   1002    OPS                 VP  245000.0
2   1003  ADMIN         SR MANAGER  245673.0
3   1004    MIS            Manager  292129.0
4   1005     HR          Associate  397026.0
..   ...    ...                ...       ...
88  1155   TEMP          ASSOCIATE   55000.0
89  1157   TEMP          ASSOCIATE   45000.0
90  1158   TEMP          ASSOCIATE   45000.0
91  1160   TEMP  ASSISTANT MANAGER   60000.0
92  1163   TEMP       SR.ASSOCIATE   65000.0

[93 rows x 4 columns]

In [4]:
percent_romv_data = 0.2
percent_of_data = int(percent_romv_data*len(df))

In [25]:
import random

indice = random.sample(range(len(df)),k=percent_of_data)
indice

[83, 55, 37, 85, 0, 8, 21, 81, 35, 26, 88, 52, 16, 87, 2, 13, 70, 19]

In [17]:
mask = [i in indice for i in range(len(df))]
mask

[False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False]

In [19]:
df['col'] = df['SALARY']

In [22]:
df['col'] = df['col'].mask(mask)

In [27]:
df.isna().sum()

EID        0
DEPT       0
DESI       0
SALARY     1
col       19
dtype: int64